.sobre-bg {
  background-color: var(--cor-12);
}
.sobre {
  padding-top: 120px;
  padding-bottom: 120px;
}

.sobre h2 {
  margin-bottom: 60px;
}

.sobre ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}

.sobre h3,
.sobre img {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .sobre {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .sobre h2 {
    margin-bottom: 40px;
  }
  .sobre ul {
    gap: 20px;
  }
}







